@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* margin: 0;
    padding: 0; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic {
    width: 500px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 18px 35px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header {
    background: #FFF8F3;
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    margin-bottom: 30px;
    max-width: 585px;
    color: #757575;
}

/* main section styles */

/* about section style */

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-desction {
    color: #757575;
    font-size: 18px;
    text-align: center;
    font-weight: 400;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.info-description {
    font-size: 20px;
    font-weight: 700;

}

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
    font-size: 18px;
}

main section {
    margin-top: 130px;
}

/* resume section */

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.download-cv {
    justify-content: center;
    margin-top: 50px;
    display: flex;
}

footer {
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
    gap: 60px;
}

.footer-column {
    width: 50%;
}

.contact input[type="text"],
input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    outline: none;
    border: none;
    color: #757575;
    border-radius: 5px;
    width: 100%;
}

.social-link a {
    margin-right: 25px;
}

.section-description {
    margin-bottom: 35px;
}